<h1>Course listing</h1>

<ul>
  <li>Code: IRT1</li>
  <li>Name: Introduction to Resistance Training</li>
  <li>Description: A thorough introduction to general Resistance Training</li>
</ul>

<ul>
  <li>Code: IST2</li>
  <li>Name: Introduction to Strenght Training</li>
  <li>Description: A thorough introduction to general Strenght Training</li>
</ul>